<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		  <ui:fragment rendered="#{login.userPower == 1}">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/CustomerAdmin.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/index.xhtml">Home Page</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowAdminDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
				</ui:fragment>

        		<ui:fragment rendered="#{login.userPower == 2}">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/userStaff.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Customer.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/indexStaff.xhtml">HomePage</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowStaffDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
        		</ui:fragment>
		  </nav>
		</div>
		

            <div class="container" style="margin-top:30px">
                <h:form id="MyForm">
                <table class="table table-bordered ">


                    <tr>
                        <td width ="150" valign="top">Contact_Name</td>
                        <td valign="bottom">
                            
                            <h:inputText id = "Contact_Name" value="#{addNewContact.name}" required="true"
                                         validatorMessage="Please enter a valid name"
                                         requiredMessage="Please enter a name "></h:inputText>
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Gender</td>
                        <td valign="bottom">
                            <h:inputText id = "Gender" value="#{addNewContact.gender}" required="true"
                                         validatorMessage="Please enter a valid gender."
                                         requiredMessage="Please enter a gender. "></h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">mobile_phone</td>
                        <td valign="bottom">
                            <h:inputText id = "mobile_phone" value="#{addNewContact.mobile_phone}" required="true"
                                         validatorMessage="Please enter a valid mobile number."
                                         requiredMessage="Please enter a mobile number. "></h:inputText>
                                         
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="150" valign="top">age</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "age" value="#{addNewContact.age}" required="true"
                                         validatorMessage="Please enter a valid age."
                                         requiredMessage="Please enter a age. "></h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">work_time</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "ceo_name" value="#{addNewContact.work_time}" required="true"
                                         validatorMessage="Please enter a valid work time."
                                         requiredMessage="Please enter work time "></h:inputText>
                        </td>
                    </tr>
                </table>
					<h:commandButton class="btn btn-outline-primary" action="#{addNewContact.addNewContact()}" value="Submit"> </h:commandButton>&nbsp;&nbsp;
					<a class="btn btn-outline-primary" href="/Assignment-war/faces/Contact.xhtml">Back</a>
		    </h:form>
		    </div>
		        </h:body>
</html>
