<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/CustomerAdmin.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/index.xhtml">Home Page</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowAdminDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
		  </nav>
		</div>
		

            <div class="container" style="margin-top:30px">
                <h:form id="MyForm">
                <table class="table table-bordered ">


                    <tr>
                        <td width ="150" valign="top">firstName</td>
                        <td valign="bottom">
                            
                            <h:inputText id = "firstName" value="#{addNewUser.firstName}" required="true"
                                         validatorMessage="Please enter a valid firstName."
                                         requiredMessage="Please enter a firstName. "></h:inputText>
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">lastName</td>
                        <td valign="bottom">
                            <h:inputText id = "lastName" value="#{addNewUser.lastName}" required="true"
                                         validatorMessage="Please enter a valid lastName."
                                         requiredMessage="Please enter a lastName. "></h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">email</td>
                        <td valign="bottom">
                            <h:inputText id = "email" value="#{addNewUser.email}" required="true"
                                         validatorMessage="Please enter a valid email."
                                         requiredMessage="Please enter a email. ">
                            <f:validateRegex id ="validateEmail" pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"></f:validateRegex>
                            </h:inputText>
                            <h:message id="errorMsgForEmail" class ="text-danger font-weight-bold" for ="email"/>             
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="150" valign="top">Salary</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "salary" value="#{addNewUser.salary}" required="true"
                                         validatorMessage="Please enter a valid salary"
                                         requiredMessage="Please enter a salary "></h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">password</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "password" value="#{addNewUser.password}" required="true"
                                         validatorMessage="Please enter a valid Password"
                                         requiredMessage="Please enter a Password ">
                           <f:validateRegex id ="ValiePassWord" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})" />
                           </h:inputText>
                           <h:message id="errorMsgForpassword" class ="text-danger font-weight-bold" for ="password"/>
                        </td>
                    </tr>
                </table>
					<h:commandButton class="btn btn-outline-primary" action="#{addNewUser.addNewStaff()}" value="Submit"> </h:commandButton>&nbsp;&nbsp;
					
		    		<a class="btn btn-outline-primary" href="/Assignment-war/faces/Users.xhtml">Back</a>
		    </h:form>
		    </div>
		        </h:body>
</html>
