<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Customer.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Contact.xhtml">Contact Person</a>
		    <a class="btn btn-outline-secondary btn-lg" href="#">Sign up</a>
		  </nav>
		</div>
		

            <div class="container" style="margin-top:30px">
                <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">ID</td>
                        <td valign="bottom">
                            
                            <h:inputText id = "Id" value="#{updateUser.returnAdministrator().id}" binding="#{id}"></h:inputText>
                            
                        </td>
                            
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">UserType</td>
                        <td valign="bottom">
							<h:inputText id = "UserType" value="#{updateUser.returnAdministrator().powerLevel}" binding="#{powerLevel}" ></h:inputText>
        					
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">firstName</td>
                        <td valign="bottom">
                            
                            <h:inputText id = "firstName" value="#{updateUser.returnAdministrator().firstName}" binding="#{firstName}" required="true"
                                         validatorMessage="Please enter a valid firstName."
                                         requiredMessage="Please enter a firstName. "></h:inputText>
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">lastName</td>
                        <td valign="bottom">
                            <h:inputText id = "lastName" value="#{updateUser.returnAdministrator().lastName}" binding="#{lastName}" required="true"
                                         validatorMessage="Please enter a valid lastName."
                                         requiredMessage="Please enter a lastName. "></h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">email</td>
                        <td valign="bottom">
                            <h:inputText id = "email" value="#{updateUser.returnAdministrator().email}" binding="#{email}" required="true"
                                         validatorMessage="Please enter a valid email."
                                         requiredMessage="Please enter a email. "></h:inputText>
                                         
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="150" valign="top">Phone</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "Phone" value="#{updateUser.returnAdministrator().phoneNo}" binding="#{phoneNo}" required="true"
                                         validatorMessage="Please enter a valid salary"
                                         requiredMessage="Please enter a salary "></h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Office_Address</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "Office_Address" value="#{updateUser.returnAdministrator().officeAddress}" binding="#{officeAddress}" required="true"
                                         validatorMessage="Please enter a valid officeAddress"
                                         requiredMessage="Please enter a officeAddress "></h:inputText>
                        </td>
                    </tr>

                </table>
					<h:commandButton class="btn btn-outline-primary" action="#{updateUser.updateAdmin}" value="Submit"> </h:commandButton>&nbsp;
		    </h:form>
		    </div>
		        </h:body>
</html>
