<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		  <ui:fragment rendered="#{login.userPower == 1}">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/CustomerAdmin.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/index.xhtml">Home Page</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowAdminDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
				</ui:fragment>

        		<ui:fragment rendered="#{login.userPower == 2}">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/userStaff.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Customer.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/indexStaff.xhtml">HomePage</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowStaffDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
        		</ui:fragment>
		  </nav>
		</div>
		

            <div class="container" style="margin-top:30px">
                <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">ID</td>
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{updateContact.getContact().contact_id}</h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Name</td>
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{updateContact.getContact().name}</h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Gender</td>
                        <td valign="bottom">
                            <h:outputLabel id = "Gender" >#{updateContact.getContact().gender}</h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Mobile_Phone</td>
                        <td valign="bottom">
                            <h:outputLabel id = "Mobile_Phone" >#{updateContact.getContact().mobile_phone}</h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Age</td>
                        <td valign="bottom">
                            <h:outputLabel id = "Age" >#{updateContact.getContact().age} </h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Working Time</td>
                        <td valign="bottom">
                            <h:outputLabel id = "work_time" >#{updateContact.getContact().work_time}</h:outputLabel>
                        </td>
                    </tr>


                </table>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Contact.xhtml">Return</a>
		    
		    </h:form>
		    </div>
		        </h:body>
</html>
