<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		  <ui:fragment rendered="#{login.userPower == 1}">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/CustomerAdmin.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/index.xhtml">Home Page</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowAdminDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
				</ui:fragment>

        		<ui:fragment rendered="#{login.userPower == 2}">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/userStaff.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Customer.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/indexStaff.xhtml">HomePage</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowStaffDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
        		</ui:fragment>
		  </nav>
		</div>
		
		
        <div class="container" style="margin-top:30px">
        <h:form id="MyForm">
        <h3>#{contectController.customer.customerName} </h3>
			<h:commandLink value="New Contact " action="#{addNewContact.selectContact}" class="btn btn-outline-primary"> 
			        <f:param name="id" value="#{contectController.customer.customer_id}"></f:param>                     
			</h:commandLink>&nbsp;&nbsp;
				<ui:fragment rendered="#{login.userPower == 1}">
				<a class="btn btn-outline-primary" href="/Assignment-war/faces/CustomerAdmin.xhtml">Back to Customer</a>
        		</ui:fragment>
				<ui:fragment rendered="#{login.userPower == 2}">
				<a class="btn btn-outline-primary" href="/Assignment-war/faces/Customer.xhtml">Back to Customer</a>
        		</ui:fragment>
        	<br />
			<br />
			<table id="Contact" class="table table-striped table-bordered" style="width:100%">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>Name</th>
	                <th>Gender</th>
	                <th>Age</th>
	                <th>Mobile_phone</th>
	                <th>Work_time</th>
	                <th>Options</th>
	            </tr>
	        </thead>
	        
        <tbody>
        	<ui:repeat var="contact" value="#{getAllContact.allContact}" varStatus="order">
        		<ui:fragment rendered="#{contectController.authorize(contact.customer.customer_id)}">
        		
        		
        	<tr>
        		<td>#{order.index+1}</td>
        		<td>#{contact.name}</td>
        		<td>#{contact.gender}</td>
        		<td>#{contact.age}</td>
        		<td>#{contact.mobile_phone}</td>
        		<td>#{contact.work_time}</td>
        		<td>
        		<h:commandButton class="btn btn-outline-primary" action="#{updateContact.ShowContactDetailsReadOnly(contact.contact_id)}" value="Show detail"> </h:commandButton>&nbsp;
        		
				<h:commandLink value="Edit " action="#{updateContact.ShowContactDetails(contact.contact_id)}" class="btn btn-outline-primary"> 
				        <f:param name="id" value="#{contectController.customer.customer_id}"></f:param>                     
				</h:commandLink>&nbsp;
        		
        		<h:commandButton class="btn btn-outline-primary" action="#{updateContact.deleteContactById(contact.contact_id)}" value="Remove"> </h:commandButton>&nbsp;
        		</td>
        		
        		
        		
        	</tr>
        	</ui:fragment>
        	</ui:repeat>
        	
        </tbody>
			</table>
			</h:form>
    	</div>
    	
	<script src="resources/js/jquery-3.5.1.js"></script>
	<script src="resources/js/jquery.dataTables.min.js"></script>
	<script>
	$(document).ready(function() {
	    $('#Contact').DataTable();
	} );
	</script>
	
    </h:body>
</html>
