<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/CustomerAdmin.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/index.xhtml">Home Page</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowAdminDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
		  </nav>
		</div>
		
		
        <div class="container" style="margin-top:30px">
        <h:form id="MyForm">
        
        <h:commandButton class="btn btn-outline-primary" action="#{addNewCustomer.customerGeneratorAdmin}" value="New Customer"> </h:commandButton>&nbsp;
        <br />
		<br />
			<table id="customers" class="table table-striped table-bordered" style="width:100%">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>Name</th>
	                <th>CEO_Name</th>
	                <th>Web</th>
	                <th>Last_Edit_date</th>
	                <th>Phone_Num</th>
	                <th>Employee_Num</th>
	                <th>Industry</th>
	                <th>Address</th>
	                <th>Operation</th>
	            </tr>
	        </thead>
	        
        <tbody>
        	<ui:repeat var="customer" value="#{getAllCustomers.allCustomer}" varStatus="order">

        	<tr>
        		<td>#{order.index+1}</td>
        		<td>#{customer.customerName}</td>
        		<td>#{customer.ceo_name}</td>
        		<td>#{customer.website}</td>
        		<td>#{customer.register_date}</td>
        		<td>#{customer.phone_no}</td>
        		<td>#{customer.no_of_employee}</td>
        		<td>#{customer.industry}</td>
        		<td>#{customer.address}</td>
        		
        		<td>
        		<h:commandButton class="btn btn-outline-primary" action="#{updateCustomer.ShowCustomerDetailsReadOnly(customer.customer_id)}" value="Show detail"> </h:commandButton>&nbsp;
        		<h:commandButton class="btn btn-outline-primary" action="#{updateCustomer.ShowCustomerDetailsAdmin(customer.customer_id)}" value="Edit"> </h:commandButton>&nbsp;
        		<h:commandButton class="btn btn-outline-primary" action="#{updateCustomer.deleteCustomerByIdAdmin(customer.customer_id)}" value="Remove"> </h:commandButton>&nbsp;
        		<h:commandButton class="btn btn-outline-primary" action="#{contectController.selectContact(customer.customer_id)}" value="Contacts"> </h:commandButton>&nbsp;
        		</td>
        		
        		</tr>
        	</ui:repeat>
        	
        </tbody>
			</table>
			</h:form>
    	</div>
    	
	<script src="resources/js/jquery-3.5.1.js"></script>
	<script src="resources/js/jquery.dataTables.min.js"></script>
	<script>
	$(document).ready(function() {
	    $('#customers').DataTable();
	} );
	</script>
	
    </h:body>
</html>
