<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/userStaff.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Customer.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/indexStaff.xhtml">HomePage</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowStaffDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
		  </nav>
		</div>
		

            <div class="container" style="margin-top:30px">
                <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">ID</td>
                        <td valign="bottom">
                            
                            <h:inputText id = "Id" value="#{updateCustomer.getCustomer().customer_id}" binding="#{customer_id}"></h:inputText>
                            
                        </td>
                            
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Customer_Name</td>
                        <td valign="bottom">
							<h:inputText id = "Customer_Name" value="#{updateCustomer.getCustomer().customerName}" binding="#{customerName}" ></h:inputText>
        					
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Address</td>
                        <td valign="bottom">
                            
                            <h:inputText id = "Address" value="#{updateCustomer.getCustomer().address}" binding="#{address}" required="true"
                                         validatorMessage="Please enter a valid firstName."
                                         requiredMessage="Please enter a firstName. "></h:inputText>
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Industry</td>
                        <td valign="bottom">
							<h:selectOneMenu id= "Industry" value="#{updateCustomer.getCustomer().industry}" binding="#{Industry}">
								<f:selectItem itemValue="Bank" itemLabel = "Bank" />
								<f:selectItem itemValue="Building" itemLabel = "Building" />
								<f:selectItem itemValue="Data Communication" itemLabel = "Data Communication" />
								<f:selectItem itemValue="Education" itemLabel = "Education" />
								<f:selectItem itemValue="Farm" itemLabel = "Farm" />
								<f:selectItem itemValue="Health" itemLabel = "Health" />
								<f:selectItem itemValue="Mining" itemLabel = "Mining" />
								<f:selectItem itemValue="Publishing" itemLabel = "Publishing" />
							</h:selectOneMenu>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Num_Employee</td>
                        <td valign="bottom">
                            <h:inputText id = "Num_Employee" value="#{updateCustomer.getCustomer().no_of_employee}" binding="#{no_of_employee}" required="true"
                                         validatorMessage="Please enter a valid email."
                                         requiredMessage="Please enter a email. "></h:inputText>
                                         
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="150" valign="top">CEO</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "CEO" value="#{updateCustomer.getCustomer().ceo_name}" binding="#{ceo_name}" required="true"
                                         validatorMessage="Please enter a valid salary"
                                         requiredMessage="Please enter a salary "></h:inputText>
                        </td>
                    </tr>

                    <tr>
                        <td width ="150" valign="top">Website</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "Website" value="#{updateCustomer.getCustomer().website}" binding="#{website}" required="true"
                                         validatorMessage="Please enter a valid officeAddress"
                                         requiredMessage="Please enter a officeAddress "></h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Phone_Num</td>
                        <td valign="bottom">
                        
                            <h:inputText id = "Phone_Num" value="#{updateCustomer.getCustomer().phone_no}" binding="#{phone_no}" required="true"
                                         validatorMessage="Please enter a valid officeAddress"
                                         requiredMessage="Please enter a officeAddress "></h:inputText>
                        </td>
                    </tr>



                </table>
					<h:commandButton class="btn btn-outline-primary" action="#{updateCustomer.UpdateCustomers(login.userId)}" value="Submit"> </h:commandButton>&nbsp;&nbsp;
					<a class="btn btn-outline-primary" href="/Assignment-war/faces/Customer.xhtml">Back</a>
		    </h:form>
		    </div>
		        </h:body>
</html>
