<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		  </nav>
		</div>
    </h:body>
    


  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <h:form class="form-signin">
              <div class="form-label-group">
                <center><h:inputText class="form-control form-control-user" id="Username" value = "#{login.username}" placeholder="Username" ></h:inputText></center>
              </div>
				<br />
              <div class="form-label-group">
						<center><h:inputSecret id="PassWord" class="form-control form-control-user" value = "#{login.password}" placeholder="Password" /></center>
              </div>
				<br /> 
				<center>	<h:commandButton class="btn btn-outline-primary" action="#{login.signinSystem()}" value="Submit"> </h:commandButton>&nbsp;</center>
                </h:form>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
