<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/CustomerAdmin.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/index.xhtml">Home Page</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowAdminDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
		  </nav>
		</div>
		

            <div class="container" style="margin-top:30px">
                <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">ID</td>
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{updateUser.returnStaff().id}</h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">UserType</td>
                        <td valign="bottom">
                            <h:outputLabel id = "UserType" >
       						<ui:fragment rendered="#{updateUser.returnStaff().powerLevel == 1}">Admin</ui:fragment>
        					<ui:fragment rendered="#{updateUser.returnStaff().powerLevel == 2}">Staff</ui:fragment>
                            </h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">firstName</td>
                        <td valign="bottom">
                            <h:outputLabel id = "firstName" >#{updateUser.returnStaff().firstName}</h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">lastName</td>
                        <td valign="bottom">
                            <h:outputLabel id = "lastName" >#{updateUser.returnStaff().lastName} </h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">email</td>
                        <td valign="bottom">
                            <h:outputLabel id = "email" >#{updateUser.returnStaff().email}</h:outputLabel>
                        </td>
                    </tr>
                    

                    <tr>
                        <td width ="150" valign="top">salary</td>
                        <td valign="bottom">
                            <h:outputLabel id = "salary" >#{updateUser.returnStaff().salary}</h:outputLabel>
                        </td>
                    </tr>

                </table>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">Return</a>
		    </h:form>
		    </div>
		        </h:body>
</html>
