<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h3 class="my-0 mr-md-auto font-weight-normal">AUSPrintings Pty Ltd</h3>
		  <nav class="my-2 my-md-0 mr-md-3">
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/Users.xhtml">User</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/CustomerAdmin.xhtml">Customer</a>
		    <a class="btn btn-outline-secondary btn-lg" href="/Assignment-war/faces/index.xhtml">Home Page</a>
		    		    <h:form>
		    <h:commandButton class="btn btn-outline-secondary btn-lg" action="#{updateUser.ShowAdminDetailsSelf(login.userId)}" value="Edit Account"></h:commandButton>
		    		    </h:form>
		  </nav>
		</div>
		
        <div class="container" style="margin-top:30px">
        <h:form id="MyForm">
        
        <h:commandButton class="btn btn-outline-primary" action="#{addNewUser.userGenerator}" value="New Staff"> </h:commandButton>&nbsp;
        <br />
		<br />
			<table id="users" class="table table-striped table-bordered" style="width:100%">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>UserType</th>
	                <th>firstName</th>
	                <th>lastName</th>
	                <th>password</th>
	                <th>email</th>
					<th>Operations</th>
	            </tr>
	        </thead>
	        
        <tbody>
        	<ui:repeat var="appUser" value="#{getAllUsers.allUsers}" varStatus="order">
        	<tr>
        		<td>#{order.index+1}</td>
        		<ui:fragment rendered="#{appUser.powerLevel == 1}"><td>Admin</td></ui:fragment>
        		<ui:fragment rendered="#{appUser.powerLevel == 2}"><td>Staff</td></ui:fragment>
        		<td>#{appUser.firstName}</td>
        		<td>#{appUser.lastName}</td>
				<ui:fragment rendered="#{appUser.powerLevel == 2}">
        		<td>#{appUser.password}</td>
        		</ui:fragment>
				<ui:fragment rendered="#{appUser.powerLevel == 1}">
        		<td>*****</td>
        		</ui:fragment>
        		<td>#{appUser.email}</td>
				<td>
				<ui:fragment rendered="#{appUser.powerLevel == 1}">
					<h:commandButton class="btn btn-outline-primary" action="#{updateUser.ShowAdminDetailsReadOnly(appUser.id)}" value="Show detail"> </h:commandButton>&nbsp;
				</ui:fragment>
				
				<ui:fragment rendered="#{appUser.powerLevel == 2}">
					<h:commandButton class="btn btn-outline-primary" action="#{updateUser.ShowStaffDetailsReadOnly(appUser.id)}" value="Show detail"> </h:commandButton>&nbsp;
				</ui:fragment>
				
				<ui:fragment rendered="#{appUser.powerLevel == 2}">
					<h:commandButton class="btn btn-outline-primary" action="#{updateUser.ShowStaffDetails(appUser.id)}" value="Edit"> </h:commandButton>&nbsp;
				</ui:fragment>
				
				<ui:fragment rendered="#{appUser.powerLevel == 2}">
					<h:commandButton class="btn btn-outline-primary" action="#{updateUser.deleteStaffById(appUser.id)}" value="Remove"> </h:commandButton>&nbsp;
				</ui:fragment>
				</td>
        	</tr>
        	</ui:repeat>
        	
        </tbody>
			</table>
			</h:form>
    	</div>
    	
	<script src="resources/js/jquery-3.5.1.js"></script>
	<script src="resources/js/jquery.dataTables.min.js"></script>
	<script>
	$(document).ready(function() {
	    $('#users').DataTable();
	} );
	</script>
	
    </h:body>
</html>
